<div class="container">
  <h1 class="title"> Stupid Coaching</h1>

  <form action="/answer" method="get">
    <div class="input">
      <input type="text" name="question" placeholder="Ask your coach">
      <input type="submit" value="Ask!">
      </div>
  </form>

</div>
